@tailwind base;
@tailwind utilities;
@tailwind components;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.btn-primary {
  @apply bg-black px-4 py-2 text-lg text-white font-semibold rounded-lg;
}

.btn-secondary {
  @apply bg-white px-4 py-2 text-lg text-black border-black border-2 font-semibold rounded-lg;
}

.link {
  position: relative;
  @apply px-4;
}

.link::after {
  content: "";
  width: 100%;
  height: 2.5px;
  background-color: lightgray;
  transition: background-color 50ms ease;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.link-active {
  position: relative;
}

.link-active::after {
  content: "";
  width: 100%;
  height: 3.5px;
  background-color: black;
  position: absolute;
  bottom: -2px;
  left: 0;
}

::-webkit-scrollbar {
  display: none;
}
