@tailwind base;
@tailwind utilities;
@tailwind components;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.btn-primary {
  @apply bg-black px-4 py-2 text-lg text-white font-semibold rounded-lg;
}

.btn-secondary {
  @apply bg-white px-4 py-2 text-lg text-black border-black border-2 font-semibold rounded-lg;
}

nav {
  position: relative;
  width: fit-content;
  margin: auto;
}

.marker {
  height: 3.5px;
  background-color: black;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-radius: 20px;
  z-index: 99;
  transition: left 200ms ease, width 200ms ease;
}

.link {
  position: relative;
  @apply px-4;
}

.link::after {
  content: "";
  width: 100%;
  height: 2.5px;
  background-color: lightgray;
  transition: background-color 100ms ease;
  position: absolute;
  border-radius: 20px;

  bottom: -2px;
  left: 0;
}

.link-active {
  position: relative;
}

.link-active::after {
  content: "";
  width: 100%;
  height: 3.5px;
  background-color: black;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-radius: 20px;
}

::-webkit-scrollbar {
  background-color: white;
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 69420px;
  border: 4px solid white;
}

article {
  @apply flex gap-4;
}

.img-wrapper {
  overflow: hidden;
}

.img {
  transition: transform 600ms ease, filter 100ms ease;
  cursor: pointer;
  @apply bg-contain bg-no-repeat bg-center;
}
